name: Deploy

on:
  push:
    # push 代码的时候 哪个分支会受到影响 这里 master 分支
    branches:
      - master
# 推送之后执行一系列的任务
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get the content of algolia.json as config
        id: algolia_config
        run: echo "config=$(cat crawlerConfig.json | jq -r tostring)" >> $GITHUB_OUTPUT
      - name: Push indices to Algolia
        uses: signcl/docsearch-scraper-action@master
        env:
          APPLICATION_ID: ${{ secrets.APPLICATION_ID }}
          API_KEY: ${{ secrets.API_KEY }}
          CONFIG: ${{ steps.algolia_config.outputs.config }}
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: pnpm # 改为 pnpm 缓存
      - uses: pnpm/action-setup@v2  # 添加 pnpm 安装
        with:
          version: 8  # 指定 pnpm 版本    
      - run: pnpm install --frozen-lockfile # 改为 pnpm 命令
      # 打包
      - name: Build
        run: pnpm docs:build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/.vitepress/dist
